.button-form {
  border: 2px solid #23353B;
  border-radius: 4px;
  line-height: 1.5rem;
  font-size: 1.0rem;
  background-color: #23233B;
}

.button-form:disabled {
  background-color: #C5C6C6;
}

.button-form:hover {
  background-color: #2C3968;
  border-color: #2C4268;
}

.button-form:active {
  background-color: #23153B;
  border-color: #23133B;
}

.button-header {
  display: inline-block;
  border-left: 3px solid #23233B;
  background-color: transparent;
  padding: 5px;
  margin: 5px 3px;
  text-decoration: none;
  color: #c5c6c6;
}

.button-header:hover {
  background-color: rgba(188, 227, 250, 0.3);
}

.button-header:active {
  border-color: #7CCDF4;
  background-color: #7CCDF4;
  color: #23233b;
}