.button-form {
  border: 2px solid;
  border-radius: 4px;
  line-height: 1.5rem;
  font-size: 1.0rem;
}

.submit {
  background-color: #23233B;
  border-color: #23353B;
  color: #EBEBEB;
}


.button-form.submit:disabled {
  background-color: #C5C6C6;
}

.button-form.submit:hover {
  background-color: #2C3968;
  border-color: #2C4268;
}

.button-form.submit:active {
  background-color: #23153B;
  border-color: #23133B;
}

.reset {
  background-color: #0466c8;
  border-color: #EBEBEB;
  color: #EBEBEB;
}

.button-form.reset:hover {
  background-color: #0476c8;
}

.button-form.reset:active {
  background-color: #EBEBEB;
  color: #0466c8;
}

.button-header {
  display: inline-block;
  padding: 5px;
  background-color: transparent;
  border-left: 3px solid #23233B;
  color: #c5c6c6;
  text-decoration: none;
  line-height: 100%;
  box-sizing: border-box;
}

.button-header:hover {
  background-color: rgba(188, 227, 250, 0.3);
}

.button-header:active {
  background-color: #7CCDF4;
  border-color: #7CCDF4;
  color: #2C4268;
}